

.light {
    background-color: burlywood;
    color: black;
    transition: background-color 0.3s, color 0.3s;

}

.dark {
    background-color: #000000;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    a {
        color: lime;
    }
    #darkbtn {
        background-color: burlywood;
        color: white;
    }

}


#darkbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

img {
    width: 300px;
}


    #imageinc {
        text-align: center;
    }
.flex {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px
}

.container {
    text-align: center;
}